.content {
    background-image: url(fondD.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%; 
    position: relative;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 9px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 4opx;
    text-align: right;
}

ul li {
    margin: 10px;
}

ul li a {
    position: relative;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

.content .centered-title {
    font-size: 500%;
    font-weight: lighter;
}
main {
    padding: 20px;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.image {
    overflow: hidden;
}

.image img {
    width: 55%;
    height: 180px;
    transition: transform 0.3s ease;
}

.image:hover img {
    transform: scale(2.2);
}